body {
    text-align: center;
}

h1 {
    font-weight: normal;
}

#frame-select-area {
    margin: 1em 10em;
    border: .1em;
    border-color: #000000;
    border-style: solid;
}

#frame-list {
    height: 20em;
    overflow: auto;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin-left: 2em;
}

.selected {
    background: yellow;
}

input {
    margin: 0 1em;
    margin-bottom: 1em;
    width: 8em;
}
