body {
    text-align: center;
}

h1 {
    font-weight: normal;
}

.input {
    margin: 0 1em;
    font-size: .75em;
    font-family: Helvetica;
}

#frame-list {
    margin: .5em 15em;
    border: 2px;
    border-color: #000000;
    border-style: solid;
    height: 22em;
    overflow: auto;
    text-align: left;
    list-style-type: none;
    padding: 0;
}

.frame {
    padding: .5em;
    border-top: 1px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-color: #000000;
    border-style: solid;
    font-family: Helvetica;
    font-size: 15px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.topframe {
    border: 0;
}

.frame-text {
    margin-left: 1em;
    font-size: 17px;
}

.select {
    font-size: 13px;
    padding: .1em;
    float: right;

    text-shadow: .1em .1em #CCCCCC;
    border: 1px;
    border-style: solid;
    border-color: #0088CC;
}

.data {
    margin-left: 2em;
}

.selected {
    background: yellow;
}

.create {
    margin: 1em;
    margin-bottom: 1em;
    width: 8em;
}
