<html>
    <head>
        <title> nonsense </title>
        <link rel="stylesheet" href="http://127.0.0.1:8000/media/new-instance.css"></link>
        <script type="text/javascript">
            var word = '{{word}}';
            var wordPosition = '{{word_position}}';
            var sceneId='{{scene_id}}';
            var corpusId='{{corpus_id}}';
            var sentenceId='{{sentence_id}}';
        </script>

        <script type="text/javascript" src="http://127.0.0.1:8000/media/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="http://127.0.0.1:8000/media/newInstance.js"></script>
    </head>
    <body>
        <h1></h1>
        <div id="frame-select-area">
            <ul id="frame-list"></ul>
            <input type="submit" value="Use frame" onClick="createInstance();"/>
            <input type="submit" value="Extend frame" onClick="createInstance();"/>
        </div>
    </body>
</html>
