<html>
    <head>
        <title> nonsense </title>
        <link rel="stylesheet" href="http://127.0.0.1:8000/media/new-instance.css"></link>
        <script type="text/javascript" src="http://127.0.0.1:8000/media/jquery-1.8.2.min.js"></script>
        <script type="text/javascript">
            var word = '{{word}}';
            var wordPosition = '{{word_position}}';
            var sceneId='{{scene_id}}';
            var corpusId='{{corpus_id}}';
            var sentenceId='{{sentence_id}}';
            var results = {{results|safe}};
        </script>
        <script type="text/javascript" src="http://127.0.0.1:8000/media/csrf.js"></script>
        <script type="text/javascript" src="http://127.0.0.1:8000/media/newInstance.js"></script>
    </head>
    <body>
        <h1></h1>
        <form name="search" method="get">
            <input type="hidden" name="corpus_id" value="{{corpus_id}}"/>
            <input type="hidden" name="scene_id" value="{{scene_id}}"/>
            <input type="hidden" name="sentence_id" value="{{sentence_id}}"/>
            <input type="hidden" name="word" value="{{word}}"/>
            <input type="hidden" name="word_position" value="{{word_position}}"/>

            <span class="input">Search for a frame: <input name="query" type="text"/></span>

            <span class="input">Search by: 
                <select name="search-type">
                    <option value="name">name</option>
                </select>
            </span>

            <input type="submit" class="input" value="Search"/>
        </div>

        <ul id="frame-list"></ul>
        <button class="create" type="button" onClick="createInstance();">Use frame</button>
        <button class="create" type="button" onClick="createFrame();">Extend frame with name:</button>
        <input type="text" name="frame_name"/>
    </body>
</html>
